.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #354259;
  opacity: 0.95;
  color: #fff;
  padding: 10px;
  width: 100%;
  
}

.logo {
  font-size: 1.3rem;
  font-weight: 700;
  width: 200px;
  height: 50px;
  /* border: 2px solid white; */
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links {
  display: flex;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.link {
  width: 100px;
  text-align: center;
  padding: 6px;
  border-radius: 10px;
  margin: 0 5px;
  background-color: #cdc2ae;
}

@media screen and (max-width: 992px) {
  .hide {
    display: none;
  }
}
