.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}

.content .img {
    height: 500px;
}

.content .img img{
    margin: 0 auto  ;
    height: 100%;
    width: 600px;
    object-fit: cover;
}

.productData {
    padding: 0 10px;
}

.productData .rating {
    display: flex;
    max-width: 150px;
    justify-content: space-between;
    align-items: center;
    
}


.productData .price {
    font-size: 30px;
    font-weight: 600;
}

.productData h1 {
    /* font-size: 80px; */
    font-size: 3rem;
    font-weight: 800;
    margin: 20px 0;
}



.rating .stars {
    font-size: 30px;
    color: rgb(94, 94, 203);
    height: 33px;
}

.aboutTheItem h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 2rem;
}

.aboutTheItem ul {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 30px;
    list-style: disc;
}

.buttons button {
    border: none;
    padding: 20px;
    margin: 20px;
    width: 100%;
    max-width: 150px;
    background-color: rgb(94, 94, 203);
    color: white;
    font-weight: 800;
}


/* 
@media screen and (max-width: 450px) {
    .productData h1 {
        font-size: 30px;
        font-weight: 800;
        margin: 20px 0;
    }
  } */