@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}



html {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0;
}


