.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: white;
  border: 1px solid rgb(126, 124, 124);
  margin: 20px 0;
}

.featuredImage {
  width: 400px;
  margin-right: 40px;
}

.featuredText .title {
  font-size: 40px;
}

.featuredText .description {
  font-size: 20px;
}

.featuredText h2 {
  font-size: 50px;
}

.featuredText .button {
  background-color: rgb(73, 72, 72);
  width: 150px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
} 


.featuredText .button:hover {
  background-color: rgb(112, 111, 111);
}

@media screen and (max-width: 520px) {
  
}
